# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environment variables
.env
.env.local

# IDEs
.vscode/
.idea/
.codeassistant

# OS
.DS_Store
Thumbs.db

# Docker
anonymous-mailer/.env

# MD files
DEPLOY.md
